/* Curtain Base Styles */
.curtain {
  position: fixed;
  top: 0;
  height: 100%;
  width: 50%;
  background-color: black; /* Change color as needed */
  z-index: 9999;
}

.curtain-left {
  left: 0;
  animation: slideLeft 1.5s ease-out forwards;
}

.curtain-right {
  right: 0;
  animation: slideRight 1.5s ease-out forwards;
}

.hidden {
  display: none;
}

@keyframes slideLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes slideRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}
